/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.proj-container{
    height: 100%;
    width: 100%;
    background-color: rgb(9, 9, 32);
    border-radius: 20px;
    position: relative;
    padding: 1%;
    border: 3px solid rgb(9, 9, 32);
}

.proj-desp{
    height: 30%;
    color: white;
    padding: 3%;
}
.proj-container::before{
    content: '';
    position: absolute;
    height: 102%;
    width: 102%;
    top: -1%;
    left: -1%;
    background:-o-linear-gradient(45deg,purple,indigo,blue,green,yellow,orange,red);
    background:linear-gradient(45deg,purple,indigo,blue,green,yellow,orange,red);
    z-index: -1;
    background-size: 400%;
    border-radius: 20px;
    -webkit-animation : glow 12s linear infinite;
            animation : glow 12s linear infinite;
    -webkit-filter: blur(5px);
            filter: blur(5px);
}
.proj-img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    position: relative;
    z-index: 0;
}
.img-box{
    height: 65%;
    width: 100%;
}
.img-box::before{
    content: " ";
    position: absolute;
    height: 65%;
    width: 100%;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    border-radius: 20px;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.522);
    z-index: 2;
}
.proj-title{
    height: 65%;
    width: 100%;
    position: absolute;
    z-index: 3;
    display: -ms-grid;
    display: grid;
    place-items: center;
    color: yellow;
    font-weight: 700;
    font-size: 3rem;
    text-shadow: 2px 2px 10px orangered;
}
.visit{
    position: absolute;
    bottom: 5%;
    right: 5%;
    outline: none;
    border-radius: 20px;
    height: 10%;
    width: 40%;
    font-weight: 600;
    -webkit-box-shadow: 5px 5px 1px grey;
            box-shadow: 5px 5px 1px grey;
}
.visit:hover{
    -webkit-transform: translate(5px, 5px );
        -ms-transform: translate(5px, 5px );
            transform: translate(5px, 5px );
    -webkit-box-shadow: none;
            box-shadow: none;
}
@media screen and (max-width:480px){
    .proj-img{
        height: 13rem;
        width: 13rem;
        border-radius: 20px;
        position: relative;
        z-index: 0;
    }
    .img-box{
        height: 75%;
        width: 100%;
    }
    .proj-container{
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
    }
    .img-box::before{
        content: " ";
        position: absolute;
        height: 100%;
        width: 50%;
        -webkit-backdrop-filter: blur(2px);
                backdrop-filter: blur(2px);
        border-radius: 20px;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.522);
        z-index: 2;
    }
    .proj-title{
        width: 50%;
        font-size: 2rem;
    }
    .visit{
        position: absolute;
        bottom: 10%;
        right: 5%;
        outline: none;
        border-radius: 10px;
        height: 20%;
        width: 30%;
    }
}