/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.sec1 {
    background-color: rgb(9, 9, 32);
    height: 100vh;
    padding-top: 6%;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin: 0 auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 29rem;
    position: relative;
    z-index: 1;
    background-color: rgb(9, 9, 32);
    overflow: hidden;
    border-radius: 20px;
}

.container::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 110%;
    background: -o-linear-gradient(45deg, #0B666A, #35A29F, #97FEED);
    background: linear-gradient(45deg, #0B666A, #35A29F, #97FEED);
    top: 25%;
    left: -5%;
    z-index: -2;
    -webkit-animation: rotate 12s linear infinite;
            animation: rotate 12s linear infinite;
    -webkit-filter: blur(40px);
            filter: blur(40px);

}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

.container::after {
    content: '';
    position: absolute;
    height: 96%;
    width: 98%;
    background-color: inherit;
    top: 2%;
    left: 1%;
    z-index: -2;
    padding: 2%;
    border-radius: 20px;
}

.img-glow {
    position: relative;
    height: 15rem;
    width: 15rem;
    background: url(myimg.png);
    border-radius: 50%;
    margin-left: 5%;
}

.img-glow::before,
.img-glow::after {
    content: "";
    position: absolute;
    height: 105%;
    width: 105%;
    border-radius: 50%;
    background: -o-linear-gradient(65deg, #F8DE22, #F94C10, #C70039, #900C3F, #071952, #0B666A, #35A29F, #97FEED, #FF5F9E, #E90064, #B3005E, #060047);
    background: linear-gradient(25deg, #F8DE22, #F94C10, #C70039, #900C3F, #071952, #0B666A, #35A29F, #97FEED, #FF5F9E, #E90064, #B3005E, #060047);
    background-size: 400%;
    top: -2%;
    left: -2%;
    z-index: -1;
    -webkit-animation: glow 20s linear infinite;
            animation: glow 20s linear infinite;
}

@-webkit-keyframes glow {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@keyframes glow {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.img-glow::after {
    -webkit-filter: blur(50px);
            filter: blur(50px);

}

.name {
    background: -o-linear-gradient(324deg, #F8DE22, #F94C10, #C70039, #900C3F, #FF5F9E, #E90064, #0B666A, #35A29F, #97FEED);
    background: linear-gradient(126deg, #F8DE22, #F94C10, #C70039, #900C3F, #FF5F9E, #E90064, #0B666A, #35A29F, #97FEED);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 4rem;
    padding-left: 2%;
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 2px;
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-animation: animate 12s linear infinite;
            animation: animate 12s linear infinite;

}

.intro {
    height: 100%;
    width: calc(95% - 15rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.intro:nth-child(2) {
    color: white;
}

.contact {
    height: 60%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    font-size: 1.5rem;
}

ul {
    width: 40%;
}

.icons {
    color: white;
    width: 25%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-animation: glowing 2s linear infinite;
            animation: glowing 2s linear infinite;
}

@-webkit-keyframes glowing {
    0% {
        -webkit-filter: drop-shadow(0px 0px 15px white);
                filter: drop-shadow(0px 0px 15px white);
        color: white;
    }

    50% {
        -webkit-filter: drop-shadow(0px 0px 15px #C70039);
                filter: drop-shadow(0px 0px 15px #C70039);
        color: #C70039;
    }

    100% {
        -webkit-filter: drop-shadow(0px 0px 15px white);
                filter: drop-shadow(0px 0px 15px white);
        color: white;
    }
}

@keyframes glowing {
    0% {
        -webkit-filter: drop-shadow(0px 0px 15px white);
                filter: drop-shadow(0px 0px 15px white);
        color: white;
    }

    50% {
        -webkit-filter: drop-shadow(0px 0px 15px #C70039);
                filter: drop-shadow(0px 0px 15px #C70039);
        color: #C70039;
    }

    100% {
        -webkit-filter: drop-shadow(0px 0px 15px white);
                filter: drop-shadow(0px 0px 15px white);
        color: white;
    }
}

.icons:hover {
    font-size: 2rem;
}

@media screen and (max-width:480px) {
    .sec1 {
        height: 35rem;
        padding-top: 0;
    }

    .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 33rem;

    }

    .container::before {
        height: 40%;
        width: 200%;
        top: 30%;
        left: -50%;
        -webkit-animation: rotate 5s linear infinite;
                animation: rotate 5s linear infinite;
        -webkit-filter: blur(4px);
                filter: blur(4px);
    }

    .container::after {
        height: 96%;
        width: 94%;
        top: 2%;
        left: 3%;
    }

    .img-glow {
        position: relative;
        height: 15rem;
        width: 15rem;
        background: url(myimg.png);
        border-radius: 50%;
        margin-left: 5%;
        margin-top: 7%;
    }

    .name {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        padding-left: 2%;
        font-size: 3rem;
        text-align: center;
    }
    .intro {
        width: calc(95%);
        padding-top: 2%;
        height:-webkit-fit-content;
        height:-moz-fit-content;
        height:fit-content;
    }
    ul{
        padding: 9%;
        width:100%
    }
    .contact {
        height: 30%;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        font-size: 1.5rem;
        margin-top: 9%;
    }
}