/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.sec3 {
    height: 32rem;
    background-color: rgb(9, 9, 32);
    margin: 0;
    padding: 0 3%;

}

table {
    margin-top: 5%;
    width: 100%;
    height: 20rem;
    text-align: center;
    color: transparent;
    background: -o-linear-gradient(65deg, #F8DE22, #F94C10, #C70039, #900C3F, #0B666A, #35A29F, #97FEED, #FF5F9E, #E90064, #B3005E, #060047);
    background: linear-gradient(25deg, #F8DE22, #F94C10, #C70039, #900C3F, #0B666A, #35A29F, #97FEED, #FF5F9E, #E90064, #B3005E, #060047);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 400%;
    -webkit-animation: animate 20s linear infinite;
            animation: animate 20s linear infinite;
}

@-webkit-keyframes animate {
    0% {
        background-position: 0%;

    }

    50% {
        background-position: 400%;

    }

    100% {
        background-position: 0%;

    }
}

@keyframes animate {
    0% {
        background-position: 0%;

    }

    50% {
        background-position: 400%;

    }

    100% {
        background-position: 0%;

    }
}
th {
    padding: 2%;
    font-size: 1.4rem;
    font-family: 'Luckiest Guy', cursive;
}
tr {
    padding: 1%;
    font-size: 1.2rem;
    height: 10%;
}
@media screen and (max-width:480px){
    table {
        margin-top: 5%;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        height: 20rem;
        text-align: center;
        color: transparent;
        background: -o-linear-gradient(65deg, #F8DE22, #F94C10, #C70039, #900C3F, #0B666A, #35A29F, #97FEED, #FF5F9E, #E90064, #B3005E, #060047);
        background: linear-gradient(25deg, #F8DE22, #F94C10, #C70039, #900C3F, #0B666A, #35A29F, #97FEED, #FF5F9E, #E90064, #B3005E, #060047);
        background-clip: text;
        -webkit-background-clip: text;
        background-size: 400%;
        -webkit-animation: animate 20s linear infinite;
                animation: animate 20s linear infinite;
    }
    th {
        padding: 0%;
        font-size: 1.1rem;
        font-family: 'Luckiest Guy', cursive;
        color:#C70039;
        width:-webkit-fit-content;
        width:-moz-fit-content;
        width:fit-content;
    }
    tr {
        padding: 0;
        height: 5%;
        width:-webkit-fit-content;
        width:-moz-fit-content;
        width:fit-content;

    }
    .sec3 {
        height: 28rem;
        background-color: rgb(9, 9, 32);
        margin: 0;
        padding: 2% 0;
    
    }
}