/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.sec4{
    height: 100vh;
    background-color: rgb(9, 9, 32);
    padding: 3%;
    
}
.content{
    color:white;
    padding:3% 2%;
    font-size: 1.4rem;
}
@media screen and (max-width:480px){
    .sec4{
        height: 33rem;
        background-color: rgb(9, 9, 32);
        padding: 3%;
    }
    .content{
        height: 80%;
        color:white;
        padding:3% 3%;
        font-size: 1rem;
        padding-bottom: 5%;
        overflow: scroll;

    }
}